html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

* {
  box-sizing: border-box; }

button, textarea, input:focus {
  outline: 0;
  border: 0;
  resize: none; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 16px;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--black {
  background-color: #000;
  color: #777; }
  .btn--black::after {
    background-color: #000; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.carousel {
  position: relative;
  height: 600px;
  width: 80%;
  margin: 80px auto 30px auto; }
  .carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .carousel__track-container {
    background: rgba(34, 1, 1, 0.822);
    height: 100%;
    position: relative;
    overflow: hidden; }
  .carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in; }
  .carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; }
  .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0; }
    .carousel__button img {
      width: 25px; }
  .carousel__button--left {
    left: -40px; }
  .carousel__button--right {
    right: -40px; }
  .carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0; }
  .carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.308);
    margin: 0 12px;
    cursor: pointer; }
    .carousel__indicator.current-slide {
      background: rgba(0, 0, 0, 0.75); }
  .carousel .is-hidden {
    display: none; }

.composition {
  position: relative;
  margin-top: 9rem; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .5s;
    outline-offset: 1rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid rgba(34, 1, 1, 0.822);
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.section2--container {
  margin: 0 auto;
  width: 55%;
  padding: 2rem 0; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }
