// section {
//     padding: 30px 0;
//     background-color: rgba(32, 32, 32, 0.795);
// }

.section2--container {
    margin: 0 auto;
    width: 55%;
    padding: 2rem 0;
}

.container {
    @include container;
}




